# Extração Dados BC - TR e CDI

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
def consulta_bc(codigo_bcb):
  url = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.{}/dados?formato=json'.format(codigo_bcb)
  df = pd.read_json(url)
  df['data'] = pd.to_datetime(df['data'], dayfirst=True)
  df.set_index('data')
  return df

In [4]:
data_inicio = '1995-01-01'

In [5]:
TR = consulta_bc(12)
TR = TR[TR.data >= data_inicio]
TR = TR.reset_index()
TR.index = TR.index + 1
TR = TR.drop(['index', 'datafim'], axis = 'columns')
TR.to_csv (r'C:\Users\diego\OneDrive\Cursos\Direito Moderno SA\TR{}.csv'
           .format(datetime.now().strftime(" %d%m%y-%Hh%Mm%Ss")), 
           header=True, 
           sep = ";")
TR

           data     valor
1    1995-01-01  0.094569
2    1995-01-02  0.095354
3    1995-01-03  0.098125
4    1995-01-04  0.102480
5    1995-01-05  0.099437
...         ...       ...
9676 2021-01-04  0.000000
9677 2021-01-05  0.000000
9678 2021-01-06  0.000000
9679 2021-01-07  0.000000
9680 2021-01-08  0.000000

[9680 rows x 2 columns]

In [6]:
CDI = consulta_bc(189)
CDI = CDI[CDI.data >= data_inicio]
CDI = CDI.reset_index()
CDI.index = CDI.index + 1
CDI = CDI.drop('index', axis = 'columns')
CDI.to_csv (r'C:\Users\diego\OneDrive\Cursos\Direito Moderno SA\CDI{}.csv'
           .format(datetime.now().strftime(" %d%m%y-%Hh%Mm%Ss")), 
           header=True, 
           sep = ";")
CDI

          data  valor
1   1995-01-01   0.92
2   1995-02-01   1.39
3   1995-03-01   1.12
4   1995-04-01   2.10
5   1995-05-01   0.58
..         ...    ...
308 2020-08-01   2.74
309 2020-09-01   4.34
310 2020-10-01   3.23
311 2020-11-01   3.28
312 2020-12-01   0.96

[312 rows x 2 columns]